# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# blender/python
__pycache__
ai-render_updater

# misc
.DS_Store
.vscode

# client-side config files
.analytics_client_id