name: run strudel-for-logs
on:
  push:
    branches:
      - "**"
      - "!main"
jobs:
  run-strudel-for-logs:
    uses: strudelbots/strudel-public/.github/workflows/run_strudel_for_logs.yml@v0.13.02
    with:
      master_branch: main
    secrets:
      strudel_access_key: ${{ secrets.STRUDEL_ACCESS_KEY_ID }}
      strudel_secret_key: ${{ secrets.STRUDEL_SECRET_KEY }}

permissions:
  actions: write
  contents: write
